*{
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

h1{
  color: #164790;
  margin-bottom: 1em;
  font-size: 2.1em;
}

.bold{
  font-weight: bold;
  color: #164790;
}
