<div id="book-page">
    <div class="container">
        <h1>
            {{ book.title }}
        </h1>
        <p> Este livro tem {{book.pageqty}} páginas.</p>
        <div class="actions">
            <a href="/books/edit/{{book.idbooks}}"> Editar </a>
        </div>
    </div>
</div>