<h1>Ola Handlebars</h1>
<p>O nome do usuario é {{user.name}}{{user.surname}}ele tem {{user.age}} anos</p>

{{#if auth}}
  <p>
    Você esta autenticado, <a href="/dashboard">Dashboard</a> clique em dashboard para acessar a área de menbros!
  </p>
{{/if}}